<h3>Create a new campaign</h3>
<div class="row-fluid">
    <a href="#campaigns" class="btn btn-primary">Back to Campaign List</a>
</div>

<div class="row-fluid m_bottom20">
    <div id="id_filterbox">
        <div class="placeholder">Please add your filter by drag and drop.</div>
        <div class="dragdropregion"><div><h4>Please add your filter by drag and drop.</h4></div></div>
    </div>
</div>
<img src="https://cdn2.iconfinder.com/data/icons/aquaticus/60%20X%2060/netvibes.png" class="hide">
