<h3>Campaigns</h3>
<div id="category">
    <h2><a href="campaigns">Overview</a></h2>
    <div>
        <ul>
            <li><a href="#campaigns?status=1">All Enabled</a></li>
            <li><a href="#campaigns">All</a></li>
            <li><a href="#campaigns?status=0">All Disabled</a></li>
        </ul>
    </div>
    <h2><a>Target segment</a></h2>
    <div id="id_filtergroup">
        <ul>
            <li id="id_filter_geofence">Geofence</li>
            <li id="id_filter_birthday">Birthday</li>
            <li id="id_filter_anniverssary">Anniversary</li>
            <li id="id_filter_age">User Age</li>
            <li id="id_filter_gender">User Gender</li>
            <li id="id_filter_faved">Users Who Faved</li>
            <li id="id_filter_userlist">Select A Userlist</li>
            <li id="id_filter_device">Device (Android / iPhone)</li>
            <li id="id_filter_version">App Version</li>
            <li id="id_filter_custom">Custom ...</li>
        </ul>
    </div>
    <h2><a>Outcome / Destination</a></h2>
    <div>
        <ul>
            <li>Offer</li>
            <li>News</li>
            <li>Open App Home Page</li>
            <li>Launch Web Page InApp</li>
            <li>Launch Web Page in Browser</li>
            <li>Open Rating Page</li>
            <li>Login/Register Prompt</li>
            <li>Passbook Offer/Coupon</li>
            <li>Launch an App Page</li>
            <li>Raw JSON</li>
        </ul>
    </div>
    <h2><a>Notifications / Media</a></h2>
    <div>
        <ul>
            <li>Push</li>
            <li>SMS</li>
            <li>Email</li>
            <li>Custom API call</li>
        </ul>
    </div>
    <h2><a href="campaigns/reviewsave" >Timing, Review & Save</a></h2>
    <div>
    </div>
</div>
